body{
    background-color: thistle;
    font-family: 'Abril Fatface', cursive;


}


header{
    width: 80vw;
    margin: auto;
    text-align: center;
}

main{
    width: 80vw;
    margin: auto;
    background-color: white;
}

#nav-bar{
    text-align: center;
    padding: 10px;
    border-bottom: solid 10px thistle;    
}

.nav{
    padding: 10px 20px 10px 20px;
    background-color: white;
    color: black;
    line-height: 2;
    text-decoration: none;
    border-radius: 4px;
}

.nav:hover{
    background-color: thistle;
    color: white;
}

.active-nav{
    background-color: thistle;
    color: white;
}

.box{
    box-shadow: 2px 2px lightgrey;
}

#float-left{
    width: 30%;
    margin: 40px;
    float: left;
}

#my-photo{
    width: 30%;
    display: inline-block;
    margin: 20px;
}

#linkedIn, #gitHub{
    height: 20px;
    box-shadow:0px;
    display: relative;
    margin: 5px 10px 5px 10px;
}

.float-right{
    float: right;
    height: 100%;
}

#about-me{
    width: 60%;
    margin: 20px 0 40px 0;
    display: inline-block;
}

h3, p{
    font-family: 'Open Sans Condensed';
    padding-left: 10px;
    padding-right: 10px;

    line-height: 2;
}

h1{
    font-family: 'Lobster', cursive;
    
}

#portfolio-examples{
    background-color: thistle;
    width: 75vw;
    margin: auto;
    clear: both;

}

.box-border{
    height: 300px;
    width: 300px;
    float: left;
    text-align: center;

}

.box-image{
    max-height: 200px;
    max-width: 300px;
    z-index: 2;
}

#selected{
    background-color: white;
    position: fixed;
    left: 20%;
    top: 30%;
    width: 50%;
    margin: auto;
    z-index: 2;
    box-shadow: 5px 5px lightgray;
    border: solid 1px lightgray;

}

.titles{
    display: inline;
    float: left;
    width: 70%;
    padding: 10px;
}

.expand-image{
    display: inline;
    float: left;
    width: 20%;
    margin-left: 40px;
}


.resume-section{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px lightgray;

}

.resume-heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
}

.company{
    float: left;
    padding: 0;
}

.timing{
    float: right;
    padding: 0;

}
.title{
    display: inline-block;
    font-weight: bold;
}

.work-div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding-top: 0;
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding-bottom: 2px;
    line-height: 1.1;
}



